.wrapper {
	display: inline-block;
	margin: 0px 300px 0px 300px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    background: #fafafa; 
    padding: 20px;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT";
    font-size: 100%;
}	
#first {
	display: inline-block;
	padding: 10px 0; 	
}

#second {
	display: inline-block;
	padding: 10px 0; 

}

#third {
	display: inline-block;		
	padding: 10px 0; 	
}

#fourth {
	display: inline-block;		
	padding: 10px 0; 	
}
.by {
color: #b6b6b6;
text-decoration: none;
}
.categ {
color: #b6b6b6;
text-decoration: none;
}

ul.hr li {
	display: inline; 
}
.hr{
	padding-left: 	0px; 
}
.line { 
	border-right: 2px solid #ccc; 
	margin-right: 10px; 
	padding-right: 10px;  
}
